; supervisord config file.
;
; For more information on the config file, please see:
; http://supervisord.org/configuration.html
;

[unix_http_server]
file = /var/run/supervisord.sock
chown = {{ supervisord_user_name }}:{{ supervisord_group_name }}
chmod = 0770

[supervisord]
#user = {{ supervisord_user_name }}
logfile = {{ supervisord_log_dir }}/supervisord.log
logfile_maxbytes = 50MB
logfile_backups = 10
loglevel = info
pidfile = /var/run/supervisord.pid
nodaemon = false
minfds = 1024
minprocs = 200

[rpcinterface:supervisor]
supervisor.rpcinterface_factory = supervisor.rpcinterface:make_main_rpcinterface

[supervisorctl]
serverurl = unix:///var/run/supervisord.sock

[include]
files = {{ supervisord_config_dir }}/conf.d/*.conf
